table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

table#alter tr:nth-child(even) {
    background-color: #eee;
}

table#alter tr:nth-child(odd) {
    background-color: #fff;
}

table#alter th {
    color: white;
    background-color: gray;
}
.my-link {
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid blue;
}

.my-link:hover {
    color: red;
    border-bottom: 1px solid red;
}